SERVER_PORT=:8080
SERVER_API_TOKEN=your_secret_token_here
SERVER_DEFAULT_TASK_STOP_TIMEOUT=5s

DB_URL=postgres://pinn_user:pinn_pass@db:5432/pinn_db?sslmode=disable
POSTGRES_USER=pinn_user
POSTGRES_PASSWORD=pinn_pass
POSTGRES_DB=pinn_db

MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_USE_SSL=false
MINIO_BUCKET=pinn-results

TMP_DIR=/app/tmp
MOCK_DIR=/app/mock

MAX_WORKERS=5
MAX_MEM_BY_TASK=512 # megabytes
MAX_CPU_BY_TASK=50  # 100 = 1 thread

SCHEDULER_INTERVAL=20s
SCHEDULER_TASK_EXPIRES=30s
