# Env files
.env
.env.local
.env.*.local

# Project specific
tmp/
mock/
bin/
pinn-server

# System / IDE
.idea/
.vscode/
.DS_Store

# Go
go.sum

# Metadata
ТЗ.md
CONTEXT.md
TODO.md
.gemini

test.tar.gz