version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: build/Dockerfile 
    ports:
      - "8080:8080"
    environment:
      - DB_URL=postgres://pinn_user:pinn_pass@db:5432/pinn_db?sslmode=disable
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin123
      - MINIO_USE_SSL=false
      - MINIO_BUCKET=pinn-results
      - TMP_DIR=/home/andres1m/go-projects/kursach/tmp
      - MOCK_DIR=/home/andres1m/go-projects/kursach/mock
      - SERVER_PORT=:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
      - /home/andres1m/go-projects/kursach/tmp:/home/andres1m/go-projects/kursach/tmp
      - /home/andres1m/go-projects/kursach/mock:/home/andres1m/go-projects/kursach/mock
    depends_on:
      db:
        condition: service_started
      minio:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: pinn_user
      POSTGRES_PASSWORD: pinn_pass
      POSTGRES_DB: pinn_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
  minio_data:
